In [2]:
import simplejson as json
import pandas as pd
from pandas import DataFrame
import numpy as nm
#import csv as csv#
# def infinityboost (filename):
    # df = pd.read_csv(filename)
    # df.sort_values(['Sales'], ascending=[False])
    # DataFrame.head(df)
    # return df
#import as .json
#export as .json

In [10]:
#filename = "C:/Users/mylan/AnacondaProjects/infinityboost/train.csv"
#filename = "C:/Users/mylan/AnacondaProjects/USB Banking APIs.postman_test_run.json"
filename = "C:/Users/mylan/AnacondaProjects/infinityboost/salestest1.json"
#df = pd.read_csv(filename)
#df= pd.read_json(filename, lines = True)
df1 = pd.read_json(filename)
df1 = df1.sort_values(['SALE_TOTAL'], ascending=[False])
print(DataFrame.head(df1))
df2 = df1.to_json("sortedsales.json",orient='records')

   MAC  PC  PHONE  SALES_ID  SALE_TOTAL  TV
4    0   0      3         5         760   2
3    4   0      3         4         460   2
2    0   1      3         3         260   2
5    0   0      3         6         260   5
1    0   0      3         2         160   2

In [ ]:
# infinityboost("C:/Users/mylan/AnacondaProjects/infinityboost/train.csv")

In [ ]:
filename = "C:/Users/mylan/AnacondaProjects/world_bank/world_bank.json"

In [16]:
df = pd.read_json("C:/Users/mylan/AnacondaProjects/app.json")
DataFrame.head(df)

,Offers,ReturnedResults,StartIndex,TotalFoundResults
0,"{'indexNumber': 1, 'offerContentId': 105511, '...",8,1,8
1,"{'indexNumber': 2, 'offerContentId': 105512, '...",8,1,8
2,"{'indexNumber': 3, 'offerContentId': 105513, '...",8,1,8
3,"{'indexNumber': 4, 'offerContentId': 105514, '...",8,1,8
4,"{'indexNumber': 5, 'offerContentId': 105515, '...",8,1,8